<div class="container">
  <h1><%= @user.name %>'s followers</h1>
</div>

<% if @user.followers.empty? %>
  <div class="container">
    <h1>No followers yet!</h1>
  </div>

<% else %>

<div class="user-card">
  <div class="user-avatar">
    <% if @user.photo.key? %>
      <%= cl_image_tag @user.photo.key, crop: :thumb, gravity: :face, class: 'rounded-pp' %>
    <% else %>
      <%= image_tag("avatardefaut.jpg", alt: "avatar")%>
    <% end %>
  </div>
    <% @user.followers.each do |follower| %>
      <%= render 'user_card', follower: follower%>
    <% end %>
<% end %>

<%= link_to "Back", user_path(@user) %>

<%= console %>
