<div class="container">
  <h1><%= @user.name %>'s profile</h1>
    <%= render 'follow_form'%>
    <%= render 'shared/stats' %>
  </div>
</div>

<div class="container">
  <h1>Posts</h1>
    <ul>
      <% @user.posts.each do |post| %>
        <li><%= post.content %></li>
      <% end %>
    </ul>
</div>

<%= link_to "Back", users_path %>
