<div class="row"  data-controller="feed-subscription" data-feed-subscription-feed-id-value="<%= current_user.id %>">
  <div class="column left">
    <% @user = current_user %>
    <h1 class="text-center">Welcome back, <%= "#{@user.name}" %> 🎉</h1>
      <div class="stats">
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat"><%= @user.following.count %></strong> following
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat"> <%= @user.followers.count %></strong> followers
        </a>
      </div>
    <div class="container">
        <h3>Share with your community!</h3>
          <%= simple_form_for @post, remote: true,
            html: {data: {feed_subscription_target: "form", action: "ajax:success->feed-subscription#reset"}
            } do |f| %>
            <%= f.input :content, label: false, placeholder: "What's on your mind?" %>
            <%= f.submit %>
          <% end %>
    </div>
  </div>
  <div class="column right">
    <h1>Feed</h1>
    <div class="container">
      <div class="container-message  <% if @posts.empty? %>d-none<% end %>" data-feed-subscription-target="messages">
        <% @posts.order(id: :desc).each do | post | %>
          <%= render "posts/post", post: post %>
        <% end %>
      </div>

      <br><br>
        <div class="card-bg text-center <% if @posts.any? %>d-none<% end %>" data-feed-subscription-target="follow">
          <h1>You don't have any posts yet</h1>
        <br>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h2>Make your first post or   </h2>
              <h2 class='mt-3'><%= link_to 'Follow someone', posts_path, class: 'yellow-button-lg w-100' %></h2>
          </div>
        </div>
    </div>
  </div>
</div>
