<div class="post-card">
  <div class="card-header-custom">
      <div class="user-avatar">
      <% @user ||= current_user %>
        <% if @user.photo.key? %>
          <%= cl_image_tag @user.photo.key, crop: :thumb, gravity: :face, class: 'rounded-pp' %>
        <% else %>
          <%= image_tag("avatardefaut.jpg", alt: "avatar")%>
        <% end %>
      </div>
      <div class="user-card-name">
        <h3><%= post.user.name %></h3>
      </div>
    </div>
  <div class="card-content">
    <p><%= post.content %></p>
      <p id="post-time">Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
    </div>
      <div class="post-stats">

        <%= button_tag "Like", data: {reflex: "click->Likes#upvote", id: post.id} do%>
        <i class="fa-solid fa-heart"></i>
        <% end %>
        <% if current_user === post.user %>
          <%= link_to post, method: :delete,
              data: { confirm: "Are you sure?"
              } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
</div>
